body {
    background-color: black; 
    color: white; 
}


h1 {
    color: #37e137; 
}

p#welcome::first-letter {
    font-size: larger;
    color: rgb(127, 255, 187); 
}

#second {
    color: rgb(45, 176, 121); 
}

.second {
    color: aquamarine; 
}


h3, p, charm { 
    color: #58db58; 

charm { 
    display: block;
    color: #53f753; 
}